@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --lighter: #313131;
    --light: #202020;
    --dark: #181818;
    --darker: #121212;
    --tag: #373737;
    --light-text: #909090;
    --dark-text: #6f6f6f;
    --text: #797979;
    --side_bg: #212121;    
    /* Font */
    --font: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    background: var(--dark);
    width: 16px;
}
::-webkit-scrollbar-thumb{
    background: #aaaaaa;
    height: 4em !important;
    border-radius: 80px;
    border: 4px solid transparent;
    padding: 1em;
    background-clip: padding-box;
}
body{
    background: var(--dark) !important;
}
#mobile{
    display: none;
}
#body_container{
    min-height: 150vh;
}
#desktop header{
    background: var(--light);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* padding: 1.7em 0; */
}
#top_header{
    width: 100%;
    /* height: 100%; */
}
.top_header_container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
    margin: 0 1.5em ;
}

.left_logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: #fff; */
    gap: 1em;
    width: 10em;
}
.toggler i,
.close_sidebar{
    font-size: 1.2em;
    /* background-color: var(--darker); */
    cursor: pointer;
}
.logo{
    width: 6em;
    cursor: pointer;
}
.center_search{
    gap: 1em   ;
}
.search_bar{
    width: 40em;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    background: #000;
    border: 1px solid var(--tag);
}
.search{
    padding: 0 0.5em;
    width: 100%;
    background: var(--darker);
    border: none;
    color: #fff;
    font-family: var(--font);
}
.search_btn{
    border: none;
    background: var(--lighter);
    color: var(--dark-text);
    padding: 0 1.5em;
}
.mike{
    width: 2.1em ;
    height: 2.1em;
    border-radius: 50%;
    color: #fff;
    background: var(--darker);
    border: none;
    cursor: pointer;
}

.right_icons{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.right_icons div{
    background: var(--light);
}
.camera_icon i,
.app_icon i,
.bell_icon i{
    font-size: 1.1em;
    color: #fff;
    cursor: pointer;
}
.avatar{
    width: 2em;
    cursor: pointer;
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transform: scale(0, 1);
    transform-origin: left;
}
#main_sidebar{
    position: fixed;
    top: 0;
    background: var(--side_bg);
    z-index: 99999;
    height: 100%;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}
.sidebar_toggler{
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
}
.sidebar_head{
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 1.3em 3.5em 0.9em 1.7em;
    border-bottom: 1px solid #2f2f2f;
}
.sidebar_logo{
    width: 6em;
    /* opacity: 0.4; */
}
#sidebar{
    width: fit-content;
    background: var(--side_bg);
    height: 90vh;
    position: fixed;
    bottom: 0;
    padding: 1em 0;
}
.sidebar_icon_container{
    margin-bottom: 2em;
    padding: 0 5px;
}
.sidebar_icon_container a{
    text-decoration: none;
    text-align: center;
    color: var(--light-text);
    font-family: var(--font);
}
.sidebar_icon_container a:hover{
    color: #fff;
}
.sidebar_icon_container i{
    font-size: 1.3em;
}
.sidebar_icon_container p{
    font-size: 0.7em;
}
#tags{
    width: 100%;
    position: fixed;
    left: 4.5em;
    top: 10vh;
    z-index: 999;
    background: var(--light);
    border-top: 1px solid var(--lighter);
    border-bottom: 1px solid var(--lighter);
}
.tags_container{
    display: flex;
    gap: 1.5em;
    padding: 0.8em 2em;
    /* overflow: scroll; */
    width: 100%;
}
.tag.all{
    background: #fff;
    color: var(--lighter);
}
.tag{
    background: var(--tag);
    color: #fff;
    font-family: var(--font);
    padding: 0.4em 1em;
    border-radius: 50px;
    border: 1px solid var(--lighter);
    font-size: 0.9em;
    cursor: pointer;
    transition: all 250ms ease;
}
.tag:hover{
    background: #fff;
    color: var(--tag);
}

#main{
    margin: 25vh 0 0 20vh;
}
.video_cards_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em 1em;
    padding-bottom: 4em;
    padding-right: 2em;
}
.video{
    height: 10em;
    width: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}
.video img,
.video video{
    height: 100%;
    width: 100%;
}
.video:hover img{
    opacity: 0.5;
}
.video_icons{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    padding: 5px 5px 5px 0 ;
}

.clock,.list{
    padding: 0.1em 0.3em;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin-bottom: 2px;
    border-radius: 4px;
    display: none;
}
.dur{
    background: var(--dark);
    color: #fff;
    font-size: 0.8em;
    padding: 0.2em;
    border-radius: 4px;
    font-family: var(--font);
    font-weight: bold;
}
.video:hover .clock,
.video:hover .list{
    display: block;
}
.video:hover .dur{
    opacity: 0 !important;
}
.desc{
    display: flex;
    align-items: flex-end;
    margin-top: 1em;
    gap: 10px;
    color: #fff;
    font-family: var(--font);
}
.ch_logo{
    align-self: flex-start;
}
.ch_logo img{
    width: 2.5em;
}
.title{
    width: 22ch;
    /* height: 2ch; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}
.ch_name,
.views_time{
    color: var(--light-text);
    line-height: 1.2;
    font-size: 0.95em;
}

/* Mobile View Style */

@media (max-width: 768px) {
    #desktop{
        display: none !important;
    }
    #mobile{
        display: block;
    }
    .mobile_header{
        position: relative;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        background: var(--light);
        box-shadow: 0 10px 10px var(--dark);
    }
    .mobile_logo{
        width: 7em;
    }
    .tag_header{
        background: var(--light);
    }
    .mobile_tag_container{
        display: flex;
        gap: 1em;
        padding: 0.6em 0.3em;
        overflow: hidden;
        /* overflow: scroll; */
        width: 100%;
        box-shadow: 0 2px 10px var(--darker);
    }
    .tag.all{
        background: #fff;
        color: var(--lighter);
    }
    .tag{
        background: var(--tag);
        color: #fff;
        font-family: var(--font);
        padding: 0.2em 1em;
        border-radius: 50px;
        border: 1px solid var(--lighter);
        font-size: 0.9em;
        cursor: pointer;
        transition: all 250ms ease;
    }
    .right_icon{
        display: flex;
        align-items: center;
        gap: 2.5em;
    }
    .search_icon i{
        font-size: 1.3em;
        color: #fff;
    }
    .mb_avatar{
        width: 1.5em;
    }

    .footer{
        background: var(--light);
        padding: 0.4em 1.8em;
        display: flex;
        justify-content: space-between;
        /* gap: 1em; */
    }
    .footer_icon{
        color: #fff;
        text-align: center;
    }

    .footer_icon i{
        font-size: 1.3em;
    }

    .icon_text{
        margin-bottom: 0 !important;
        font-size: 0.8em;
    }
    .mb_video_cards_container{
        width: 100%;
        padding: 1em 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }
    .video_card{
        width: 100%;
    }
    .video{
        width: 100%;
        position: relative;
    }
    .video img{
        opacity: 0.5;
    }
    .dur{
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .ch_logo{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .ch_logo img{
        align-self: flex-start;
    }
    .title{
        width: 30ch;
        margin-bottom: 0;
    }
    .center_text{
        display: flex;
    }
    .title,
    .ch_name,
    .views_time{
        line-height: 1;
        font-size: 0.9em;
    }
    .dot{
        font-size: 2em;
        font-weight: 900;
    }

    .three_dot{
        align-self: flex-start;
        font-size: 1.2em;
        color: var(--light-text);
    }
}